<!DOCTYPE html>
<html>
  <head>
      <title>
        {% block title %}
          Base page
        {% endblock %}
      </title>
    <link rel="icon" href="../../static/images/icon.png">
    <link href="../../static/css/style.css" rel="stylesheet" />
  </head>
  <body>
    <div class="main">
      {% block header%}
        {% include "./header_temp.html"%}
      {% endblock %}
      {% block menu %}
        {% include "./menu_temp.html" %}
      {% endblock %}
      <div class="frame">
        {% block content %}
        {% endblock %}
      </div>
      {% block footer %}
        {% include "./footer_temp.html"%}
      {% endblock %}
    </div>
  </body>
</html>