<div class="footer">
    <div class="leftf">
      <p class="foottext"><a href="">Служба поддержки</a></p>
      <p class="foottext"><a href="">Возврат билетов</a></p>
      <p class="foottext"><a href="">Предложения</a></p>
    </div>
    <div class="rightf">
      <p class="foottext"><a href="" class="">+0 (123) 456-78-90</a></p>
      <p class="foottext"><a href="" class="">pplane@fly.air</a></p>
      <p class="foottext"><a href="" class="">обл. Печальная, р-н Тоскливый, г. Грусть, пр-кт Разочарование, д. 13</a></p>
    </div>
</div>