<form action="{% url 'flights:airports' %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend><h1>Аэропорты города</h1></legend>
            <input type="text" name="namecity">
    </fieldset>
    <input type="submit" value="Search">
    {% if AirportsData %}
        <table>
            <tr class="">
                <th class="">Airport Code</th>
                <th class="">Airport Name</th>
                <th class="">Coordinates</th>
                <th class="">Timezone</th>
            </tr>
            {% for city in AirportsData %}
            <tr class="">
                <th class="">{{ city.airport_code }}</th>
                <th class="">{{ city.airport_name.en }}</th>
                <th class="">{{ city.coordinates }}</th>
                <th class="">{{ city.timezone }}</th>
            </tr> 
            {% endfor%}
        </table>
    {% endif %}
</form>