{% extends "./baseTemp/base.html" %}
{% block content %}
<div class="tabletick">
    <div class="searchdiv">
      <form class="searchTicket" method="POST" action="{% url 'flights:ticket' %}">
        {% csrf_token %}
        <input class="nameCity departure" type="text" name="cityDeparture" placeholder="Город отправления">
        <img class="iconPlane" src="../../static/images/arrivedToDepartureSmall.png">
        <input class="nameCity arrived" type="text" name="cityArrived"  placeholder="Город прибытия">
        <input class="dateDeparture" type="date" name="dateDeparture">
        <input class="submitTicket" type="submit" value="Поиск">
      </form>
    </div>
    <div class="tableover">
        <table class="tbfly">
        <tr class="trfly">
            <th class="thfly  borderleft">Время вылета</th>
            <th class="thfly">Время прилёта</th>
            <th class="thfly">Время полёта</th>
            <th class="thfly">Пересадка</th>
            <th class="thfly">Класс</th>
            <th class="thfly">Стоимость</th>
        </tr>
        <tr class="trfly">
            <td class="tdfly borderleft">01.23.4567 - 89:01</td>
            <td class="tdfly">01.23.4567 - 89:01</td>
            <td class="tdfly">23:59</td>
            <td class="tdfly">---</td>
            <td class="tdfly">Бич</td>
            <td class="tdfly">2 бичпака</td>
        </tr>
        <tr class="trfly">
            <td class="tdfly borderleft">01.23.4567 - 89:01</td>
            <td class="tdfly">01.23.4567 - 89:01</td>
            <td class="tdfly">23:59</td>
            <td class="tdfly">---</td>
            <td class="tdfly">Бич</td>
            <td class="tdfly">2 бичпака</td>
        </tr>
        <tr class="trfly">
            <td class="tdfly borderleft">01.23.4567 - 89:01</td>
            <td class="tdfly">01.23.4567 - 89:01</td>
            <td class="tdfly">23:59</td>
            <td class="tdfly">---</td>
            <td class="tdfly">Бич</td>
            <td class="tdfly">2 бичпака</td>
        </tr>
        <tr class="trfly">
            <td class="tdfly borderleft">01.23.4567 - 89:01</td>
            <td class="tdfly">01.23.4567 - 89:01</td>
            <td class="tdfly">23:59</td>
            <td class="tdfly">---</td>
            <td class="tdfly">Бич</td>
            <td class="tdfly">2 бичпака</td>
        </tr>
        <tr class="trfly">
            <td class="tdfly borderleft">01.23.4567 - 89:01</td>
            <td class="tdfly">01.23.4567 - 89:01</td>
            <td class="tdfly">23:59</td>
            <td class="tdfly">---</td>
            <td class="tdfly">Бич</td>
            <td class="tdfly">2 бичпака</td>
        </tr>
        <tr class="trfly">
            <td class="tdfly borderleft">01.23.4567 - 89:01</td>
            <td class="tdfly">01.23.4567 - 89:01</td>
            <td class="tdfly">23:59</td>
            <td class="tdfly">---</td>
            <td class="tdfly">Бич</td>
            <td class="tdfly">2 бичпака</td>
        </tr>
        <tr class="trfly">
            <td class="tdfly borderleft">01.23.4567 - 89:01</td>
            <td class="tdfly">01.23.4567 - 89:01</td>
            <td class="tdfly">23:59</td>
            <td class="tdfly">---</td>
            <td class="tdfly">Бич</td>
            <td class="tdfly">2 бичпака</td>
        </tr>
        <tr class="trfly">
            <td class="tdfly borderleft">01.23.4567 - 89:01</td>
            <td class="tdfly">01.23.4567 - 89:01</td>
            <td class="tdfly">23:59</td>
            <td class="tdfly">---</td>
            <td class="tdfly">Бич</td>
            <td class="tdfly">2 бичпака</td>
        </tr>
        <tr class="trfly">
            <td class="tdfly borderleft">01.23.4567 - 89:01</td>
            <td class="tdfly">01.23.4567 - 89:01</td>
            <td class="tdfly">23:59</td>
            <td class="tdfly">---</td>
            <td class="tdfly">Бич</td>
            <td class="tdfly">2 бичпака</td>
        </tr>
        <tr class="trfly">
            <td class="tdfly borderleft">01.23.4567 - 89:01</td>
            <td class="tdfly">01.23.4567 - 89:01</td>
            <td class="tdfly">23:59</td>
            <td class="tdfly">---</td>
            <td class="tdfly">Бич</td>
            <td class="tdfly">2 бичпака</td>
        </tr>
        <tr class="trfly">
            <td class="tdfly borderleft">01.23.4567 - 89:01</td>
            <td class="tdfly">01.23.4567 - 89:01</td>
            <td class="tdfly">23:59</td>
            <td class="tdfly">---</td>
            <td class="tdfly">Бич</td>
            <td class="tdfly">2 бичпака</td>
        </tr>
        <tr class="trfly">
            <td class="tdfly borderleft">01.23.4567 - 89:01</td>
            <td class="tdfly borderleft">01.23.4567 - 89:01</td>
            <td class="tdfly borderleft">23:59</td>
            <td class="tdfly borderleft">---</td>
            <td class="tdfly borderleft">Бич</td>
            <td class="tdfly borderleft">2 бичпака</td>
        </tr>
        <tr class="trfly">
            <td class="tdfly borderleft">01.23.4567 - 89:01</td>
            <td class="tdfly borderleft">01.23.4567 - 89:01</td>
            <td class="tdfly borderleft">23:59</td>
            <td class="tdfly borderleft">---</td>
            <td class="tdfly borderleft">Бич</td>
            <td class="tdfly borderleft">2 бичпака</td>
        </tr>
        <tr class="trfly">
            <td class="tdfly borderleft">01.23.4567 - 89:01</td>
            <td class="tdfly">01.23.4567 - 89:01</td>
            <td class="tdfly">23:59</td>
            <td class="tdfly">---</td>
            <td class="tdfly">Бич</td>
            <td class="tdfly">2 бичпака</td>
        </tr>
        <tr class="trfly">
            <td class="tdfly borderleft">01.23.4567 - 89:01</td>
            <td class="tdfly">01.23.4567 - 89:01</td>
            <td class="tdfly">23:59</td>
            <td class="tdfly">---</td>
            <td class="tdfly">Бич</td>
            <td class="tdfly">2 бичпака</td>
        </tr>
        <tr class="trfly">
            <td class="tdfly borderleft">01.23.4567 - 89:01</td>
            <td class="tdfly">01.23.4567 - 89:01</td>
            <td class="tdfly">23:59</td>
            <td class="tdfly">---</td>
            <td class="tdfly">Бич</td>
            <td class="tdfly">2 бичпака</td>
        </tr>
        <tr class="trfly">
            <td class="tdfly borderleft">01.23.4567 - 89:01</td>
            <td class="tdfly">01.23.4567 - 89:01</td>
            <td class="tdfly">23:59</td>
            <td class="tdfly">---</td>
            <td class="tdfly">Бич</td>
            <td class="tdfly">2 бичпака</td>
        </tr>
        <tr class="trfly">
            <td class="tdfly borderleft">01.23.4567 - 89:01</td>
            <td class="tdfly">01.23.4567 - 89:01</td>
            <td class="tdfly">23:59</td>
            <td class="tdfly">---</td>
            <td class="tdfly">Бич</td>
            <td class="tdfly">2 бичпака</td>
        </tr>
        <tr class="trfly">
            <td class="tdfly borderleft">01.23.4567 - 89:01</td>
            <td class="tdfly">01.23.4567 - 89:01</td>
            <td class="tdfly">23:59</td>
            <td class="tdfly">---</td>
            <td class="tdfly">Бич</td>
            <td class="tdfly">2 бичпака</td>
        </tr>
        <tr class="trfly">
            <td class="tdfly borderleft">01.23.4567 - 89:01</td>
            <td class="tdfly">01.23.4567 - 89:01</td>
            <td class="tdfly">23:59</td>
            <td class="tdfly">---</td>
            <td class="tdfly">Бич</td>
            <td class="tdfly">2 бичпака</td>
        </tr>
        <tr class="trfly">
            <td class="tdfly borderleft">01.23.4567 - 89:01</td>
            <td class="tdfly">01.23.4567 - 89:01</td>
            <td class="tdfly">23:59</td>
            <td class="tdfly">---</td>
            <td class="tdfly">Бич</td>
            <td class="tdfly">2 бичпака</td>
        </tr>
        <tr class="trfly">
            <td class="tdfly borderleft">01.23.4567 - 89:01</td>
            <td class="tdfly">01.23.4567 - 89:01</td>
            <td class="tdfly">23:59</td>
            <td class="tdfly">---</td>
            <td class="tdfly">Бич</td>
            <td class="tdfly">2 бичпака</td>
        </tr>
        <tr class="trfly">
            <td class="tdfly borderleft">01.23.4567 - 89:01</td>
            <td class="tdfly">01.23.4567 - 89:01</td>
            <td class="tdfly">23:59</td>
            <td class="tdfly">---</td>
            <td class="tdfly">Бич</td>
            <td class="tdfly">2 бичпака</td>
        </tr>
        <tr class="trfly">
            <td class="tdfly borderleft">01.23.4567 - 89:01</td>
            <td class="tdfly">01.23.4567 - 89:01</td>
            <td class="tdfly">23:59</td>
            <td class="tdfly">---</td>
            <td class="tdfly">Бич</td>
            <td class="tdfly">2 бичпака</td>
        </tr>
        <tr class="trfly">
            <td class="tdfly borderleft">01.23.4567 - 89:01</td>
            <td class="tdfly borderleft">01.23.4567 - 89:01</td>
            <td class="tdfly borderleft">23:59</td>
            <td class="tdfly borderleft">---</td>
            <td class="tdfly borderleft">Бич</td>
            <td class="tdfly borderleft">2 бичпака</td>
        </tr>
        <tr class="trfly">
            <td class="tdfly borderleft">01.23.4567 - 89:01</td>
            <td class="tdfly borderleft">01.23.4567 - 89:01</td>
            <td class="tdfly borderleft">23:59</td>
            <td class="tdfly borderleft">---</td>
            <td class="tdfly borderleft">Бич</td>
            <td class="tdfly borderleft">2 бичпака</td>
        </tr>
        </table>
    </div>
</div>
{% endblock %}