/* basic style */
* {
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    --hsl-h:0;
    --hsl-s:0%;
    --hsl-l:18%;
    --color-base:hsl(var(--hsl-h),var(--hsl-s),var(--hsl-l));
    --color-body:hsl(var(--hsl-h),var(--hsl-s),calc(var(--hsl-l) + 30%));
    --color-border:hsl(var(--hsl-h),var(--hsl-s),calc(var(--hsl-l) + 19%));
    --color-text:hsl(var(--hsl-h),var(--hsl-s),calc(var(--hsl-l) + 57%));
    color:var(--color-text);
    font-weight: 600;
    box-sizing: border-box;
}

.baseBorder {
    border: 2px solid var(--color-border);
}

body {
    background-color:var(--color-body);
}

a {
    text-decoration: none;
}
.main {
    width: 1100px;
    background-color:var(--color-base);
    margin: auto;
    box-shadow: 0 0 15px #000000;
}

.indev {
    /* background-image: url("../../static/images/underconstrsmall2.jpg"); */
    background: radial-gradient(#ffffff00, #000000c7), url("../../static/images/underconstrsmall2.jpg") -50px;
    /* background-position: -50px; */
    background-repeat: no-repeat;
    animation-name: movedev;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes movedev {
    to {background-position: 0px;}
}

/* Header */
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2px solid var(--color-border);
    padding: 20px 40px;
}
.logo {
    height: 30px;
}
.img{
    width:50%;
}

/* Menu */
.menu {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.menutable {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 30px;
    list-style-type: none;
    text-align: center;
    border-left: 2px solid var(--color-border);
}
.menutable:hover {
    background-color: hsl(var(--hsl-h),var(--hsl-s),calc(var(--hsl-l) + 10%));
}
.menutable:last-child {
    border-right: 2px solid var(--color-border);
}


/* Content */
.frame {
    --image-height: 733px; 
    border: 2px solid var(--color-border);
    padding:calc(0.02 * var(--image-height));
    height:1800px;
    max-height: calc(0.96 * var(--image-height));
    background-image:url("../../static/images/plane.jpg");
    background-size: cover;
    background-position: 50%;
    background-origin: border-box;
}

.tabletick {
    border: 2px solid var(--color-border);
    margin:auto;
    background-color: hsla(var(--hsl-h),var(--hsl-s),var(--hsl-l), 0.3);
    box-sizing: border-box;
    max-height: 100%;
    display: flex;
    flex-flow: column;
}

/* Form */
.searchdiv{
    background-color: var(--color-base);
    border-bottom:2px solid var(--color-border);
}

.searchTicket {
    display:grid;
    grid-template-columns: 1fr 30px 1fr min-content 80px;
    grid-template-rows:1fr;
    column-gap: 5px;
    padding: 5px;
}

.submitTicket {
    background-color: var(--color-text);
    color:var(--color-base);
    border: 2px solid var(--color-border);
    width: 60px;
    height: 30px;
    grid-column: 5/6;
    align-self: center;
    justify-self: center;
}

.submitTicket:hover {
    background-color: hsl(var(--hsl-h),var(--hsl-s),calc(var(--hsl-l) + 40%));;
}

.iconPlane {
    width:100%;
    max-width: 32px;
    grid-column-start: 2;
    align-self: center;
    justify-self: center;
}

.nameCity {
    grid-column-start: 3;
    background-color: var(--color-text);
    border-color:var(--color-border);
    border-style: solid;
    color: var(--color-base);
    border-radius: 5px;
    padding-left: 5px;
    font-size: 14px;
    text-align: center;    
}
.departure {
    grid-column: 1/2;
}
.arrived {
    grid-column: 3/4;
}

.dateDeparture {
    grid-column: 4/5;
    color:var(--color-base);
    background-color: var(--color-text);
    border-radius: 5px;
    border-color: var(--color-border);
    padding-left: 5px;
    border-style:solid;
}
/* End Form */

/* Flight Information */
.tableover {
    max-height: 100%;
    overflow: auto;
    padding:10px;
}

.infFlight {
    width: 100%;
    margin:auto;
    background-color: hsla(var(--hsl-h),var(--hsl-s),calc(var(--hsl-l) + 57%), 0.8);
    border-radius: 10px;
}
.infFlight:hover{
    border-color: white;
    background-color: hsla(var(--hsl-h),var(--hsl-s),calc(var(--hsl-l) + 57%), 1);
}
.infFlight:not(:first-child) {
    margin-top: 10px;
}

.infFlight p {
    color:var(--color-base);
}

.flight {
    padding:10px;
    display:flex;
    flex-direction: row;
    align-items: center;
    width:100%;
}
.point{
    width:35%;
}
.timeAndIcon{
    width:5%;
}
.costAndPlace {
    width:25%;
}
.center{
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.message {
    height: 93px;
}
/* End Flight Information */
/* End Content */



/* Footer */
.footer {
    border: 2px solid var(--color-border);
    border-top: none;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:20px 40px;
}

.rightf{
    text-align: right;
}


